/* Base Styles */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000;
}

* {
  font: 16px arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #373737;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
  background: transparent;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit;
  text-transform: capitalize;
}

h1 {
  color: #070707;
  font-size: 1.6em;
  line-height: 1.5em;
}

h2 {
  color: #171717;
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
  color: #272727;
}

h4 {
  font-size: 1em;
  color: #272727;
}

html {
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration-color: #f22;
}

img {
  width: 100%;
}
