.nav {
  padding: 8px 4px;
}

.card {
  position: relative;
  width: 98%;
  height: 256px;
  margin: 8px 1%;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.card-img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.8;
  height: 100%;
}

.card:hover .card-img {
  opacity: 0.3;
}

.card-desc {
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
}

.header {
  padding: 16px;
  text-align: center;
}

.divider {
  position: relative;
  border-top: 2px solid #f77;
  margin: 8px 15% 16px 15%;
  padding: 0 20%;
}

.divider-dot {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #f77;
  width: 4px;
  padding: 4px;
  position: relative;
  top: -7px;
  background-color: #fff;
}

.main-section {
  margin: 16px;
}

.section-title {
  text-align: center;
  margin-bottom: 8px;
}

.footer {
  margin: 16px 8px;
  padding-top: 8px;
  border-top: 2px solid #f33;
}

.footer-list-item {
  margin-top: 8px;
  width: 100%;
}

.sub-form {
  border: 1px solid #222;
  border-radius: 4px;
}

.sub-text,
.sub-submit {
  border: none;
  padding: 2px;
  text-align: center;
}

.sub-submit {
  border-left: 1px solid #222;
}

.sub-submit:hover {
  color: #22f;
  border-left: 1px solid #222;
}

.social {
  color: #666;
}

.social li {
  margin-right: 10px;
}

@media (min-width: 425px) {
  .card {
    width: 48%;
    height: 320px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 31%;
  }

  .footer-list-item {
    width: 33%;
  }
}

@media (min-width: 1240px) {
  .card {
    width: 23%;
  }
}
